#-----------------------
#Thu Mar 06 13:27:22 FET 2014
user=admin
JDBCconnection=jdbc\:mysql\://localhost/aibcontact?characterEncoding=UTF8
ServerAddress=localhost\:1099
LookAndFeel=de.muntjak.tinylookandfeel.TinyLookAndFeel
LastLogin=admin
dbDriverName=com.mysql.jdbc.Driver
dbUser=root
imagedir=
dbPassword=root
userPassword=admin
